$colors: (
  primary:    #5f04c0,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f3f3f3,
  dark:       #222
);

.header{
    background-color: #5f04c0;
    text-transform: uppercase;
    text-align: center;
}