<ion-header >
  <ion-toolbar color = "primary" class = "header">
    <!-- <button>
      <ion-button>
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </button> -->
    <ion-title>
      Currency Converter
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- #region value -->
  <ion-row class = "logo">
    <ion-img src="assets/imgs/currency-logo.jpg"  ></ion-img>
  </ion-row>
  <div class="currency-contents">
    <ion-row >
      <ion-input class="input-value" type="number"  [(ngModel)]="fromValue" placeholder="Enter amount... " (keyup)="setCurrencyOne()"></ion-input>
      <ion-col class="select">
        <select class="select-elements" [(ngModel)]="fromCurr" (change)="setExchange()">
          <option *ngFor="let item of countryCodes" selected value="{{item }}">{{item }}</option>
        </select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-input class="input-value" type="number"  [(ngModel)]="toValue" placeholder="Enter amount..." (keyup)="setCurrencyTwo()" color = "danger"></ion-input>
      <ion-col>
        <select class="select-elements" [(ngModel)]="toCurr" (change)="setExchange()">
          <option *ngFor="let item of countryCodes" value="{{item}}">{{item}}</option>
        </select>
      </ion-col>
    </ion-row>
  </div>
  <!-- #endregion --> 

  <!-- display output region -->
  <ion-row>
    <ion-card class="card-output">
      <ion-card-content class="card-contents">
        <ion-row>
          <p>1 {{countryNames.get(fromCurr)}} equals</p>
        </ion-row>
        <ion-row>
          <p>{{_outputCurr}} {{countryNames.get(toCurr)}} </p>
        </ion-row>
        <section class="statemet">
          <!-- <p>Data provided by Morningstar for Currency and Coinbase for Cryptocurrency</p> -->
        </section>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <!-- #endregion -->

</ion-content>